/* Estilos Generales y Fondo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fdf5e6; /* Color cálido/pastel */
    color: #333;
}


.seccion-dividida {
    display: flex;
    align-items: center;
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
}

.texto-izq {
    flex: 1;
    padding-right: 30px;
}

.imagen-der {
    flex: 1;
    text-align: center;
}

.imagen-der img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

