/* Estilos Generales y Fondo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fdf5e6; 
    color: #333;
}


.seccion-dividida {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 40px;
    max-width: 1200px; 
    margin: 0 auto;
    gap: 50px; 
}


.texto-izq {
    flex: 1; 
}


.imagen-der {
    flex: 1; 
    text-align: center;
}

.imagen-der img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15); 
}


.texto-izq h1 {
    color: #d4a373;
    margin-top: 30px;
    border-bottom: 2px solid #faedcd;
    padding-bottom: 5px;
}

.texto-izq h1:first-child {
    margin-top: 0; 
}

.texto-izq h3 {
    color: #bc6c25;
    margin-bottom: 5px;
}